.app .app-header {
  display: flex; }
.app .bg-dark .text-lt {
  color: #eaebed !important; }
.app .login-box, .app .register-box {
  width: 360px;
  margin: 7% auto; }
.app .login-logo, .app .register-logo {
  font-size: 35px;
  text-align: center;
  font-weight: 300; }
.app .login-logo a, .app .register-logo a {
  color: #444; }
.app b, .app strong {
  font-weight: 700; }
.app .login-box-body, .app .register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666; }
.app .form-group {
  margin-bottom: 15px; }
.app .btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px; }
.app .login-box-msg, .app .register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px; }
.app .app-header-fixed .app-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1025;
  border-radius: 0; }
.app .navbar {
  margin: 0;
  border-width: 0;
  border-radius: 0; }
.app .bg-dark {
  color: #a6a8b1;
  background-color: #3a3f51;
  flex: 1; }
.app .box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05); }
.app .has-error {
  color: #a94442; }
.app .nav-pills > li > a {
  border-radius: 0px;
  color: #b4b6bd; }
.app .managerFlexRight {
  background-color: #ecf0f5; }
.app .font-bold {
  font-weight: 700; }
.app .navi ul.nav li a > i {
  position: relative;
  float: left;
  width: 40px;
  margin: -10px -10px;
  margin-right: 5px;
  overflow: hidden;
  line-height: 40px;
  text-align: center; }
.app .nav-pills > li.active > a, .app .nav-pills > li.active > a:hover, .app .nav-pills > li.active > a:focus {
  background-color: #32374a; }
.app .btn-primary {
  color: #fff;
  background-color: #3a3f51;
  border-color: #3a3f51;
  border-radius: 0; }
.app .thumb-sm {
  display: inline-block;
  width: 40px; }
.app .avatar {
  position: relative;
  display: block;
  white-space: nowrap;
  border-radius: 500px; }
.app .thumb img, .app .thumb-xs img, .app .thumb-sm img, .app .thumb-md img, .app .thumb-lg img, .app .thumb-btn img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }
.app .avatar img {
  width: 100%;
  border-radius: 500px; }
.app .m-b-n-sm {
  margin-bottom: -10px; }
.app .m-t-n-sm {
  margin-top: -10px; }
.app .m-l-sm {
  margin-left: 10px; }
.app a {
  color: #363f44;
  text-decoration: none;
  cursor: pointer; }
.app .avatar.thumb-sm i {
  margin: 1px; }
.app .avatar i.on {
  background-color: #27c24c; }
.app .avatar i.bottom {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto; }
.app .avatar i {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  margin: 2px;
  border-style: solid;
  border-width: 2px;
  border-radius: 100%; }
.app .b-white {
  border-color: #ffffff; }
.app .nav > li > a:hover, .app .nav > li > a:focus {
  background-color: #f6f8f8; }
.app .managerUser .panel {
  border-top: 3px solid #d2d6de;
  border-radius: 3px;
  border-top-color: #5c5151;
  box-shadow: 10px 10px 5px #888888; }
.app .btn-default {
  border-radius: 0px; }

/*# sourceMappingURL=app.css.map */
